::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
    color: linear-gradient(135deg, #ff0000, #d63131, #e46868);
    color: linear-gradient(135deg, #16a34a, #22c55e, #4ade80);
    background-color: 0 0 20px rgba(255, 64, 64, 0.6);
    background-color: 0 0 20px rgba(34, 197, 94, 0.6);
}